environment         = "dev"
location            = "uksouth"
resource_group_name = "rg-security-aks-dev"
cluster_name        = "aks-security-dev"
node_count          = 2
node_vm_size        = "Standard_D2s_v3"
admin_username      = "azureuser"
ssh_public_key = "ssh-rsa REPLACE_WITH_A_VALID_PUBLIC_KEY"

tags = {
  project     = "security-platform"
  environment = "dev"
  managed_by  = "terraform"
}
